@"
apiVersion: v1
kind: Service
metadata:
  name: podinfo
spec:
  type: ClusterIP
  selector:
    app: podinfo
  ports:
    - port: 80
      targetPort: 9898
"@ | Out-File -FilePath "apps/podinfo/service.yaml" -Encoding utf8
